
.DS_Store
.sconf
.sconsign.dblite
source/.DS_Store
*~

# nexus output files
*.h5
*.root

# nexus auxiliary files
*.dat
*.history
*.pet
*.macro

# building files and folders
bin
build
buildvars.scons
cmake
nexus
nexus-test
*.o
