### ---------------------------------------------------------------------------
###  $Id$
###
###  Example configuration file for geometry CYLINDRIC_CHAMBER.
### ---------------------------------------------------------------------------

### Internal dimensions of the chamber
GEOMETRY chamber_radius D  70. cm
GEOMETRY chamber_length D 140. cm

### Chamber thickness
GEOMETRY chamber_thickness D 1. cm

### Chamber material (copper or steel)
GEOMETRY chamber_material  S copper

### Tracking material (GXe or LXe)
GEOMETRY tracking_material S GXe
GEOMETRY GXe_pressure D 10. bar
