### --------------------------------------------------------------
###  $Id: GraXe.config 2011-04-08 jmunoz $
###
###  Example configuration file for geometry GraXe.
### --------------------------------------------------------------

### SNITCH
GEOMETRY snitch_radius D  5. cm

### INNER ACTIVE
GEOMETRY in_active_radius D 45. cm

### GRAPH BALL 
GEOMETRY graph_ball_thickness D .01 mm
GEOMETRY graph_ball_material  S kevlar

### OUTER ACTIVE
GEOMETRY out_active_radius D 100. cm
GEOMETRY out_active_material S LXe

### CUPPER BALL
GEOMETRY cu_ball_thickness D 1. cm
GEOMETRY cu_ball_material  S Copper
