### ---------------------------------------------------------------------------
###  $Id$
###
###  Example configuration file for geometry SQUARE_CHAMBER.
### ---------------------------------------------------------------------------

### Internal dimensions of the chamber
GEOMETRY chamber_width  D  50. cm
GEOMETRY chamber_height D  50. cm
GEOMETRY chamber_length D 100. cm

### Chamber thickness
GEOMETRY chamber_thickness D .5 cm

### Gas pressure
GEOMETRY GXe_pressure D 10. bar