### ---------------------------------------------------------------------------
###  Configuration file for geometry SX_CHAMBER.
### ---------------------------------------------------------------------------

### ACTIVE DATA (current data accomodates 1000 Kg of Xe Gas at 20 atm)
GEOMETRY chamber_radius D  119.4 cm
GEOMETRY chamber_length D 200. cm
GEOMETRY tracking_material S GXe
GEOMETRY GXe_pressure D 20. bar

### CHAMBER data
GEOMETRY chamber_thickness D 2. cm
GEOMETRY chamber_material  S G4_POLYSTYRENE

### SCINT data
GEOMETRY scint_thickness D 100. cm
GEOMETRY scint_material  S G4_WATER

