### ---------------------------------------------------------------------------
###  $Id$
###
###  Example configuration file for generator GENBB_INTERFACE.
### ---------------------------------------------------------------------------

### GENBB data file
GENERATION genbb_filename S data/Tl208.genbb

### Vertexes will be generated in region <region> of the geometry
### (see geometry documention)
GENERATION region S WHOLE_SURF
