### ------------------------------------------------------------------
###  $Id$
###
###  Example configuration file for generator SINGLE_PARTICLE.
### ------------------------------------------------------------------

### Particle name (e-, e+, alpha, etc.)
GENERATION particle_name S e-

### Particle energy will be generated randomly with flat probability
### between energy_min and energy_max
GENERATION energy_min D 100. keV
GENERATION energy_max D 500. keV

### Vertexes will be generated in region <region> of the geometry
### (see geometry documention)
GENERATION region S CENTER
