### ---------------------------------------------------------------------------
###  $Id: nexus_example1.config 2966 2010-06-15 10:25:21Z jmalbos $
###
###  EXAMPLE 1. Configuration file for NEXUS.
### ---------------------------------------------------------------------------

## [GEOMETRY] ####################################

GEOMETRY geometry_name S GRAXE
GEOMETRY config_file S source/geometries/GraXe.config


## [GENERATION] ##################################

GENERATION generator_name S GENBB_INTERFACE
GENERATION genbb_filename S data/Xe136_bb0nu.genbb
#GENERATION genbb_filename S data/Tl208.genbb

#GENERATION generator_name S SINGLE_PARTICLE
#GENERATION particle_name S gamma
#GENERATION energy_min D 100. keV
#GENERATION energy_max D 100. keV
#GENERATION momentum_direction DV 3
#0.
#1.
#0.

## Vertexes will be generated in the volume (CENTER, SNITCH, IN_ACTIVE, GRAPH_BALL, CU_BALL, PMT)
GENERATION region S IN_ACTIVE
GENERATION verbosity I 0


### [PHYSICS] ##############################################

PHYSICS physics_list_name S NEXUS
PHYSICS optical I 0

	
## [ACTIONS] #####################################

ACTIONS run_action_name      S DEFAULT
ACTIONS event_action_name    S DEFAULT
#ACTIONS event_action_name    S FAST_SIM_FILTERS
#ACTIONS gamma_min_energy     D 2.0 MeV
ACTIONS tracking_action_name S DEFAULT


## [JOB] #########################################

JOB output_dst    S data/GraXe_tst.dst.root
JOB number_events I 100
JOB tracking_verbosity I 1
JOB random_seed   I -1

