### ---------------------------------------------------------------------------
###
###  NEXT100 configuration file for NEXUS.
### ---------------------------------------------------------------------------


### [GEOMETRY] #############################################

# Geometry options: NEXT100, NEXT100_OPT
GEOMETRY geometry_name S NEXT100

GEOMETRY shielding_vis I 0
GEOMETRY vessel_vis I 0
GEOMETRY ics_vis I 1
GEOMETRY field_cage_vis I 0
GEOMETRY grids_vis I 0
GEOMETRY tracking_plane_vis I 0
GEOMETRY energy_plane_vis I 0

GEOMETRY pressure D 10. bar
GEOMETRY max_step_size D 10. mm


### [GENERATION] ###########################################

GENERATION generator_name S SINGLE_PARTICLE
GENERATION particle_name S gamma
GENERATION energy_min D 2000. keV
GENERATION energy_max D 2000. keV
GENERATION momentum_direction DV 3
0.
0.
1.

#GENERATION generator_name S GENBB_INTERFACE
#GENERATION genbb_filename S ./data/Tl208.genbb

# Region options: EXTERNAL, SHIELDING_LEAD, SHIELDING_STEEL, SHIELDING_GAS
#                 VESSEL, VESSEL_FLANGES, VESSEL_TRACKING_ENDCAP, VESSEL_ENERGY_ENDCAP
#		  ICS, FIELD_CAGE, ACTIVE, CARRIER_PLATE, ENCLOSURE_BODY
#		  ENCLOSURE_WINDOW, PMT_BODY, TRK_SUPPORT, DICE_BOARD
GENERATION region S PMT_BODY
GENERATION verbosity I 0


### [PHYSICS] ##############################################

PHYSICS physics_list_name S DEFAULT
PHYSICS low_energy_em I 1
PHYSICS optical I 0
PHYSICS nexus I 0
#PHYSICS i_cluster I 0


### [ACTIONS] ##############################################

ACTIONS run_action_name      S DEFAULT
ACTIONS event_action_name    S DEFAULT
#ACTIONS event_action_name    S FAST_SIM_FILTERS
#ACTIONS gamma_min_energy     D 2.0 MeV
#ACTIONS min_Edep             D 2.0 MeV
ACTIONS tracking_action_name S DEFAULT
ACTIONS stepping_action_name S DEFAULT

### [JOB] ##################################################

JOB output_dst S ./data/next100.dst.root
JOB tracking_verbosity I 0
JOB number_events I 10
JOB random_seed I -1

