### ---------------------------------------------------------------------------
###  $Id$
###
###  EXAMPLE 1. Configuration file.
### ---------------------------------------------------------------------------

## [GEOMETRY] ####################################

GEOMETRY geometry_name S CYLINDRIC_CHAMBER

## Internal dimensions of the chamber
GEOMETRY chamber_radius D  5. m
GEOMETRY chamber_length D 10. m

## Chamber thickness
GEOMETRY chamber_thickness D 1. cm

## Xenon gas pressure
GEOMETRY GXe_pressure D 10. bar

## [GENERATION] ##################################

GENERATION generator_name S GENBB_INTERFACE
GENERATION config_file    S source/generators/GenbbInterface.config

## [PHYSICS] #####################################

PHYSICS physics_list_name S DEFAULT

# Low-energy electromagnetic extensions? (boolean)
PHYSICS low_energy_em I 1
# Optical processes? (boolean)
PHYSICS optical I 0

	
## [ACTIONS] #####################################

ACTIONS run_action_name      S DEFAULT
ACTIONS event_action_name    S DEFAULT
ACTIONS tracking_action_name S DEFAULT


## [JOB] #########################################

JOB output_dst    S data/nexus_example1.dst.root
JOB number_events I 10
JOB random_seed   I 0

