### ---------------------------------------------------------------------------
###  $Id$
###
###  EXAMPLE 3. Configuration file for NEXUS.
### ---------------------------------------------------------------------------


### [GEOMETRY] #############################################

GEOMETRY geometry_name S NEXT1EL

GEOMETRY sideport_angle D 30.
GEOMETRY sideport_posz  D 60. mm

GEOMETRY pressure D 10. bar

GEOMETRY tracking_plane S PMT

GEOMETRY tpb_coating I 1

GEOMETRY max_step_size D 100. mm

### [GENERATION] ###########################################

GENERATION generator_name S SINGLE_PARTICLE

GENERATION particle_name S e-
GENERATION energy_min D 100. keV
GENERATION energy_max D 100. keV
GENERATION region S AD_HOC

GENERATION specific_vertex DV 3 mm
0.
0.
0.



### [PHYSICS] ##############################################

PHYSICS physics_list_name S DEFAULT
PHYSICS optical I 1
PHYSICS nexus I 1
#PHYSICS em_physics I 0

### [ACTIONS] ##############################################

ACTIONS run_action_name      S DEFAULT
ACTIONS event_action_name    S DEFAULT
ACTIONS tracking_action_name S DEFAULT
ACTIONS stepping_action_name S DEFAULT

### [JOB] ##################################################

JOB output_dst S data/nexus_example3.dst.root
JOB tracking_verbosity I 0
JOB number_events I 1
JOB random_seed I -1

