### ---------------------------------------------------------------------------
###  $Id$
###
###  EXAMPLE 2. Configuration file
### ---------------------------------------------------------------------------

### GEOMETRY ###############################################

GEOMETRY geometry_name S CYLINDRIC_CHAMBER

## Internal dimensions of the chamber
GEOMETRY chamber_radius D 15. cm
GEOMETRY chamber_length D 50. cm

## Chamber thickness
GEOMETRY chamber_thickness D 1. cm

## Length of the electroluminescence gap
GEOMETRY elgap_length D 0.5 cm

## Xenon gas pressure
GEOMETRY gxe_pressure D 10. bar

### GENERATION #############################################

GENERATION generator_name S SINGLE_PARTICLE

GENERATION particle_name S e-

GENERATION energy_min D 1. keV
GENERATION energy_max D 1. keV

#GENERATION momentum_direction DV 3
#0.
#0.
#1.

GENERATION region S EL_TABLE

### PHYSICS ################################################

PHYSICS physics_list_name S DEFAULT
PHYSICS nexus I 1

# Low-energy electromagnetic extensions? (boolean)
PHYSICS low_energy_em I 1
# Optical processes? (boolean)
PHYSICS optical I 1

	
### ACTIONS ################################################

ACTIONS run_action_name      S DEFAULT
ACTIONS event_action_name    S DEFAULT
ACTIONS tracking_action_name S DEFAULT


### JOB ####################################################

JOB output_dst    S data/nexus_example1.dst.root
JOB number_events I 1764
JOB random_seed   I 0

