### ---------------------------------------------------------------------------
###  $Id$
###
###  EXAMPLE 3. Configuration file for NEXUS.
### ---------------------------------------------------------------------------


### [GEOMETRY] #############################################

GEOMETRY geometry_name S NEXT1_EL


### [GENERATION] ###########################################

GENERATION generator_name S SINGLE_PARTICLE

GENERATION particle_name S ionielectron
GENERATION energy_min D 1. keV
GENERATION energy_max D 1. keV
GENERATION region S CENTER


### [PHYSICS] ##############################################

PHYSICS physics_list_name S NEXUS
PHYSICS optical I 1

### Drift velocity (mm/microsecond)
PHYSICS drift_velocity D 1.

### Diffusion (micrometer/sqrt(cm))
PHYSICS transv_diff D 1000.
PHYSICS longit_diff D 300.

### Ionization energy
PHYSICS ioniz_energy D 22. eV

###  Max drift Length
PHYSICS max_drift_length D 300. mm

### EL gap
PHYSICS el_gap D .5 cm

### EL Electric Field (kV/cm)
PHYSICS el_field D 40.


### [ACTIONS] ##############################################

ACTIONS run_action_name      S DEFAULT
ACTIONS event_action_name    S DEFAULT
ACTIONS tracking_action_name S EL_TABLES


### [JOB] ##################################################

JOB output_dst S data/1keV.dst.root
JOB tracking_verbosity I 3
JOB number_events I 1
JOB random_seed I -1

