### ---------------------------------------------------------------------------
###  $Id$
###
###  EXAMPLE 2. Configuration file for NEXUS.
### ---------------------------------------------------------------------------

## [GEOMETRY] ####################################

GEOMETRY geometry_name S SQUARE_CHAMBER
GEOMETRY config_file   S source/geometries/SquareChamber.config

## [GENERATION] ##################################

GENERATION generator_name S GENBB_INTERFACE
GENERATION config_file    S source/generators/GenbbInterface.config

## [PHYSICS] #####################################

PHYSICS physics_list_name S NEXUS
PHYSICS optical I 0

## [ACTIONS] #####################################

ACTIONS run_action_name      S DEFAULT
ACTIONS event_action_name    S FAST_SIM_FILTERS
ACTIONS tracking_action_name S DEFAULT
ACTIONS gamma_min_energy D 3.8 MeV

## [JOB] #########################################

JOB output_dst S data/nexus_example2.dst.root
JOB number_events I 100
JOB random_seed I -1
JOB tracking_verbosity I 1




