### ---------------------------------------------------------------------------
###  $Id$
###
###  EXAMPLE 1. Configuration file for NEXUS.
### ---------------------------------------------------------------------------

## [GEOMETRY] ####################################

GEOMETRY geometry_name S CYLINDRIC_CHAMBER

## Internal dimensions of the chamber
GEOMETRY chamber_radius D  70. cm
GEOMETRY chamber_length D 140. cm

## Chamber thickness and material
GEOMETRY chamber_thickness D 1. cm
GEOMETRY chamber_material S copper

## Tracking material
GEOMETRY tracking_material S GXe
GEOMETRY GXe_pressure D 10. bar


## [GENERATION] ##################################

GENERATION generator_name S SINGLE_PARTICLE

## Particle type (use G4 convention: e-, e+, gamma, etc.)
GENERATION particle_name S e-

## Particle energy will be generated randomly with flat probability
## between the following values:
GENERATION energy_min D 2500. keV
GENERATION energy_max D 2500. keV

## Direction
GENERATION momentum_direction DV 3
0.
0.
1.

## Vertexes will be generated in the center of the chamber
GENERATION region S CENTER


## [PHYSICS] #####################################

PHYSICS physics_list_name S NEXUS
PHYSICS em_physics I 0

# Optical processes? (boolean)
PHYSICS optical I 0

	
## [ACTIONS] #####################################

ACTIONS run_action_name      S DEFAULT
ACTIONS event_action_name    S DEFAULT
ACTIONS tracking_action_name S DEFAULT


## [JOB] #########################################

JOB output_dst    S data/nexus_example1.dst.root
JOB number_events I 100
JOB random_seed   I 0

