### ---------------------------------------------------------------------------
###
###  EXAMPLE 5. Configuration file for NEXUS.
### ---------------------------------------------------------------------------


### [GEOMETRY] #############################################

GEOMETRY geometry_name S NEXT1EL

GEOMETRY sideport_angle D 30.
GEOMETRY sideport_posz  D 60. mm

GEOMETRY pressure D 10. bar
GEOMETRY tracking_plane S SIPM
GEOMETRY tpb_coating I 1

##GEOMETRY max_step_size D 100. mm

### [GENERATION] ###########################################

GENERATION generator_name S NA22_GENERATOR

GENERATION particle_dis_name S gamma
GENERATION particle_name S gamma
GENERATION energy_min D 511. keV
GENERATION energy_max D 511. keV
GENERATION energy_min_dis D 1274. keV
GENERATION energy_max_dis D 1274. keV
GENERATION region S SIDEPORT
GENERATION solid_angle S 2Piforward
GENERATION solid_angle_dis S 4Pi

#GENERATION momentum_direction DV 3
#0.
#0.
#1.

#GENERATION momentum_direction_dis DV 3
#0.
#0.
#1.



### [PHYSICS] ##############################################

PHYSICS physics_list_name S DEFAULT
PHYSICS optical I 1
PHYSICS i_cluster I 1
PHYSICS nexus I 1
#PHYSICS em_physics I 0

### [ACTIONS] ##############################################

ACTIONS run_action_name      S DEFAULT
ACTIONS event_action_name    S DEFAULT
ACTIONS tracking_action_name S DEFAULT
ACTIONS stepping_action_name S DEFAULT

### [JOB] ##################################################

JOB output_dst S data/nexus_example5.dst.root
JOB tracking_verbosity I 0
JOB number_events I 10
JOB random_seed I -1

