### ---------------------------------------------------------------------------
###  $Id: nexus_PMT_setup.config  paolafer $
###
###  Configuration file for NEXUS.
### ---------------------------------------------------------------------------

## [GEOMETRY] ####################################

GEOMETRY geometry_name S PMT_QE_SETUP
GEOMETRY gxe_pressure D 10. bar


## [GENERATION] ##################################

GENERATION generator_name S SOLIDANGLE_GENERATOR
GENERATION particle_name S opticalphoton
GENERATION energy_min D  6.88778 eV
GENERATION energy_max D  6.88778 eV
GENERATION region S POINT
GENERATION costheta_max D -0.999678
GENERATION z_dist D 50. cm

## [PHYSICS] #####################################

PHYSICS physics_list_name S DEFAULT

# Low-energy electromagnetic extensions? (boolean)
PHYSICS low_energy_em I 0
# Optical processes? (boolean)
PHYSICS optical I 1

	
## [ACTIONS] #####################################

ACTIONS run_action_name      S DEFAULT
ACTIONS event_action_name    S DEFAULT
ACTIONS tracking_action_name S DEFAULT
ACTIONS stepping_action_name S DEFAULT


## [JOB] #########################################

JOB output_dst    S data/nexus_PMT_setup.dst.root
JOB number_events I 100000
JOB random_seed   I -1

