### ---------------------------------------------------------------------------
###  $Id$
###
###  EXAMPLE 2. Configuration file for NEXUS.
### ---------------------------------------------------------------------------

## [GEOMETRY] ####################################

GEOMETRY geometry_name S SQUARE_CHAMBER

GEOMETRY chamber_width  D 0.5 m
GEOMETRY chamber_height D 0.5 m
GEOMETRY chamber_length D 1.0 m
GEOMETRY chamber_thickness D 1. cm

GEOMETRY gxe_pressure D 10. bar

GEOMETRY pitch D 1. cm

GEOMETRY elgap_length D 0.5 cm

## [GENERATION] ##################################

GENERATION generator_name S SINGLE_PARTICLE

## Particle type (use G4 convention: e-, e+, gamma, etc.)
GENERATION particle_name S e-

## Particle energy will be generated randomly with flat probability
## between the following values:
GENERATION energy_min D 100. keV
GENERATION energy_max D 100. keV

## Direction
#GENERATION momentum_direction DV 3
0.
0.
1.

## Vertexes will be generated in the center of the chamber
GENERATION region S CENTER

## [PHYSICS] #####################################

PHYSICS physics_list_name S DEFAULT
PHYSICS optical I 1
PHYSICS nexus I 1

## [ACTIONS] #####################################

ACTIONS run_action_name      S DEFAULT
ACTIONS event_action_name    S DEFAULT
ACTIONS tracking_action_name S DEFAULT


## [JOB] #########################################

JOB output_dst S data/nexus_example2.dst.root
JOB number_events I 1
JOB random_seed I -1
JOB tracking_verbosity I 0