#######################################
#                                           #
#  Configuration file for a reflective anode#
#                                           #
#############################################

 
GEOMETRY geometry_name S NEXT1_JW
GEOMETRY config_file   S geometries/NEXT1.config 
 
GEOMETRY chamber_side D 22.5425
GEOMETRY chamber_length D 47.7698


###Vertex Point (cm) 
GEOMETRY vertex_X D 10. 
GEOMETRY vertex_Y D 0
GEOMETRY vertex_Z D 0. 

#GENERATION region S ACTIVE
GENERATION region S CENTER

GENERATION generator_name S SINGLE_PARTICLE
#GENERATION config_file    S generators/SingleParticle.config

#GENERATION particle_name S gamma
GENERATION particle_name S e-

### Particle energy will be generated randomly with flat probability
### between energy_min and energy_max (in MeV)
GENERATION energy_min D 0.005
GENERATION energy_max D 0.005

PHYSICS physics_list_name S OPTICAL_STANDARD
 
ACTIONS run_action_name      S DEFAULT
ACTIONS event_action_name    S DEFAULT
ACTIONS tracking_action_name S DEFAULT
#ACTIONS stepping_action_name S DEFAULT
ACTIONS stepping_action_name S OPTICAL

JOB number_events I 500
#JOB output_dst    S data/NEXT1/t0/prueba.dst.root
JOB output_dst    S data/5keV.dst.root
JOB random_seed   I -1
