### ---------------------------------------------------------------------------
###  $Id$
###
###  EXAMPLE 4. Configuration file for NEXUS.
### ---------------------------------------------------------------------------


### [GEOMETRY] #############################################

GEOMETRY geometry_name S NEXT_LBNL

### Note: This geometry may ignore some settings below.

GEOMETRY pressure D 10. bar
GEOMETRY save_detector_positions I 0

GEOMETRY tracking_plane I 0


### [GENERATION] ###########################################

GENERATION generator_name S SINGLE_PARTICLE

GENERATION particle_name S e-
GENERATION energy_min D 10. keV
GENERATION energy_max D 10. keV
GENERATION region S CENTER


### [PHYSICS] ##############################################

PHYSICS physics_list_name S DEFAULT
PHYSICS optical I 1

### Drift velocity (mm/microsecond)
PHYSICS drift_velocity D 1.

### Diffusion (micrometer/sqrt(cm))
PHYSICS transv_diff D 1000.
PHYSICS longit_diff D 300.

### Ionization energy
PHYSICS ioniz_energy D 22. eV

###  Max drift Length
PHYSICS max_drift_length D 300. mm


### [ACTIONS] ##############################################

ACTIONS run_action_name      S DEFAULT
ACTIONS event_action_name    S DEFAULT
ACTIONS tracking_action_name S DEFAULT


### [JOB] ##################################################

JOB output_dst S data/1keVLbnl.dst.root
JOB tracking_verbosity I 0
JOB number_events I 100
JOB random_seed I -1

