### ---------------------------------------------------------------------------
###  $Id$
###
###  EXAMPLE 1. Configuration file for NEXUS.
### ---------------------------------------------------------------------------

GEOMETRY geometry_name S CYLINDRIC_CHAMBER
GEOMETRY config_file   S geometries/CylindricChamber.config

GENERATION generator_name S SINGLE_PARTICLE
GENERATION config_file    S generators/SingleParticle.config

PHYSICS physics_list_name S EM_STANDARD
PHYSICS optical I 0

ACTIONS run_action_name      S DEFAULT
ACTIONS event_action_name    S DEFAULT
ACTIONS tracking_action_name S DEFAULT

JOB output_dst    S data/nexus_example1.dst.root
JOB number_events I 25000
JOB random_seed   I -1


