### --------------------------------------------------------------
###  $Id$
###
###  Example configuration file for geometry XeSphere.
### --------------------------------------------------------------

### Internal dimension of the sphere
GEOMETRY sphere_radius D  50. cm

### Sphere thickness (in cm)
GEOMETRY sphere_thickness D 1. cm

### Sphere material (copper or steel)
GEOMETRY sphere_material  S copper

### Tracking material (GXe or LXe)
GEOMETRY tracking_material S GXe
GEOMETRY GXe_pressure D 10. bar
